# mosquitto-local.conf.template
persistence true
log_dest stdout

listener 1883 0.0.0.0
allow_anonymous true

connection cloud
address MQTT_CLOUD_HOST:MQTT_CLOUD_PORT
remote_username HOME_ID
remote_password MQTT_PASSWORD
try_private false
start_type automatic
restart_timeout 5
cleansession true
bridge_attempt_unsubscribe false

topic home/ha/# out 0 "" HOME_ID/
topic home/system/# out 0 "" HOME_ID/

topic backend/# in 0 "" HOME_ID/
